
li.urgent {background-color:red;
          color:white;
  }
li.moderate {background-color:orange;
            color:white;
  }
li.okay {background-color:gray;
  }
li.done {background-color:black;
        color:#00FFFF;
  }
h2 {tex-align: center;
     color: white;
}
