
body {background-color: plum;
}
h1 {color:#af14c4;
}
  li#urgent {
    color: red;
    }
  li#moderate {
    color: orange;
    }
  li#okay {
    color: gray;
    }
  li#done {
    text-decoration: line-through;
    }

