
li.urgent {
          color:white;
  }
ul<h2.urgent{background-color:red;
  }
li.moderate {
            color:white;
  }
ul<h2.moderate<{background-color:orange;
  }
ul,<h2.okay<{backgroundcolor:gray;
  }
li.done {
        color:#00FFFF;
  }
ul<h2.done<{background-color:black;
  }
h2 {tex-align: center;
     color: white;
}
section{ border: 5px solid black;
}
