
li.urgent {background-color:red;
          foreground-color:white;
  }
li.moderate {background-color:orange;
            forground-color:white;
  }
li.okay {background-color:gray;
  }
li.done {bakground-color:black;
        forground-color:cyan;
  }

