h1 {
  position: center;
}
section.A {
  background-color: plum;
  width: 95%;
  height:300px;
  margin-top: 50px;
  margin-left:100px;
  margin-right:100px;
  position: center;
}
section.B {
  background-color:plum;
  width:100%;
  position:center;
  margin-top:500px;
}
#high {
    color: purple;
}
#med {
    color: blue;
}
#low {
    color:white;
}
